sudo: required
services:
  - docker
language: go
go:
  - 1.12.x
  - 1.13.x
install:
  - go get -u github.com/vbatts/git-validation
script:
  - git-validation -run DCO,short-subject
  - if [[ $(go version) == *"1.13"* ]]; then
      go fmt $(go list ./... | grep -v vendor) | wc -l | grep "^0";
    fi
  - make docker-proto
  - git diff $(find . -name "*.pb.*go" -o -name "api.swagger.json" | grep -v vendor) | wc -l | grep "^0"
  - hack/check-api-version.sh
  - git grep -rw GPL vendor | grep LICENSE | egrep -v "yaml.v2" | wc -l | grep "^0"
  - make sdk-check-version
  - make install
  - make vet
  - bash hack/docker-integration-test.sh
  - make docker-test
  - if [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
      echo "${DOCKER_PASS}" | docker login -u "${DOCKER_USER}" --password-stdin;
      make push-mock-sdk-server;
    fi
notifications:
  email:
    recipients:
      - aditya@portworx.com
      - eng@portworx.com
    on_success: change
    on_failure: always
